<div>
	<div class="panel panel-primary">
	  <div class="panel-heading">Latest blog posts</div>

		<div class="row panel-body">
			<div class="col-md-2"><%= Blog.order(created_at: :desc).first[:created_at].strftime("%B %d %Y") %></div>
			<div class="col-md-8"><%= Blog.order(created_at: :desc).first[:title] %></div>
		</div>
		<div class="row panel-body">
			<div class="col-md-2"><%= Blog.order(created_at: :desc).second[:created_at].strftime("%B %d %Y") %></div>
			<div class="col-md-8"><%= Blog.order(created_at: :desc).second[:title] %></div>
		</div>
		<div class="row panel-body">
			<div class="col-md-2"><%= Blog.order(created_at: :desc).third[:created_at].strftime("%B %d %Y") %></div>
			<div class="col-md-8"><%= Blog.order(created_at: :desc).third[:title] %></div>
		</div>
	
	</div>
</div>